@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}

.responsive {
  width: 100%;
  height: auto;
}

html, body {
  height: 100%;
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit; 
}


h2 {
  font-size: 22px;
  margin-bottom: 20px; 
  position: relative;
  margin-top: 0; 
}

#humid-guage,
#temp-guage {
  box-sizing: border-box;   
  flex: 1 1 200px;
  flex-grow: 1;
  flex-shrink: 1;

  max-width: 100%; /* Prevent them from growing beyond their intended max size if there's a lot of space */
  /* You might still want a height, or manage aspect ratio differently */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.led {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
  box-shadow: 0 0 5px #666;
}

.led.green {
  background-color: #0f0;
  box-shadow: 0 0 10px #0f0;
}

.led.red {
  background-color: #f00;
  box-shadow: 0 0 10px #f00;
}


.led-controls {
  display: flex;
  gap: 5px;
}


.led-controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.led-controls button:hover {
  background-color: #367c39;
}

.led-controls button:disabled,
.led-controls button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.image-container{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.config-controls {

  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Example border */
}

.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.config-item label {
  margin-right: 10px; 
  flex-basis: 60%; 
}

.config-item input {
  flex-basis: 35%; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#config-button {
  display: block; /* Make button take full width of its container */
  width: 100%;
  padding: 10px;
  margin-top: 20px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#config-button:hover {
  background-color: #0056b3;
}

#humid-guage, #temp-guage {
  min-height: 160px; 
  min-width: 200px; 
  border: 1px dashed #aaa;
}

